dist/
.env
.env.*
*.log
# Sqlite
data/

# IDE
.idea/
.vscode/
*.iml

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/bin/


node_modules

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.clerk/
