dist/
.env
*.log

# IDE
.idea/
.vscode/
*.iml

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/bin/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/*.tfvars
node_modules
