# All variables for the project are defined here
# Copy to .env and fill in the values
# These variables are normally configured in the Appwrite console
OPENAI_API_KEY=
APPWRITE_DATABASE_ID=
NOTES_BUCKET_ID=notes
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
# Production values
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
DEFAULT_USER_ID=